@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "satoshi";
	src: url("https://cortez.link/fonts/Satoshi/Satoshi-Medium.otf");
}
@font-face {
	font-family: "clash";
	src: url("https://cortez.link/fonts/ClashDisplay/ClashDisplay-Semibold.ttf");
}

* {
    font-family: "satoshi";
}

h1 {
	font-family: "clash";
}